
  .container {
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin-top: 2%;
    margin-bottom: 1%;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1%;
    margin: 2%;

  }
  
  .btn{
    margin: 2%;
    padding: 5%;
  }

  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }

  #top-container{
    margin-top: 1vh;
    margin-bottom: 2vh;
  }

  /*
  #top-row{
    height: 5vh;
  }
  */

  #score, #time{
    background-color: blue;
    border: 2px solid black;
    border-radius: 5px;
  }

  #question-text{
    margin: 1vmin;
    padding: 1%;

  }

  #start-btn, #next-btn, #ranking-btn, #back-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5%;
  }

  .hide{
    display: none;
  }

  .correct{
    box-shadow: 0 0 20px 5px green;
  }

  .wrong{
    box-shadow: 0 0 20px 5px red;
  }
